.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.icon{
  width: 50px;
  height: 50px;
  color: #1A237E;
}
.icon-div{
  position: absolute;
  top: 85%;
  left: 77%;
}
ion-list{
  padding-top: 0px;
  padding-bottom: 0px;
}