// .example-container {
//     display: flex;
//     flex-direction: column;
//   }
  
  .example-container {
    width: 100%;
  }

  .form-field{
      width: 100%;
  }

  .btn{
    width: 100%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }